body {
    background-color: #21252b;
    color: lightgray;
    margin: 0 8px;
    font-family: Roboto;
}

h1 {
    text-decoration: underline;
}

main {
    font-family: Courier, monospace;
    background-color: #2c323b;
    padding: 0.5em;
}

#line, #code {
    display: inline-block;
    color: darkgray;
}

#line p, #code p {
    margin: 0;
    min-height: 1em;
}


#line p.active {
    color: lightgray;
}
#code p.active {
    background-color: black;
    color: lightgray;
}

footer {
    box-sizing: border-box;
    width: calc(100% - 32px);
    padding: 0.5em;
    margin: 16px 8px 1px;
    text-align: center;
    font-size: 0.8em;
}

a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

#cursor{
    border-right-style: solid;
    border-right-width: thin;
}
